-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: vol_test
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `copy_progress_log`
--

DROP TABLE IF EXISTS `copy_progress_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `copy_progress_log` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `run_id` char(36) NOT NULL,
  `ts` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `chunk_start` datetime DEFAULT NULL,
  `chunk_end` datetime DEFAULT NULL,
  `step` varchar(64) NOT NULL,
  `rows_inserted` bigint DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `ix_run_ts` (`run_id`,`ts`),
  KEY `ix_chunk` (`chunk_start`,`chunk_end`)
) ENGINE=InnoDB AUTO_INCREMENT=3461 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `eod`
--

DROP TABLE IF EXISTS `eod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eod` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `OptionExpiryID` int NOT NULL,
  `StrikeID` int NOT NULL,
  `opn` double DEFAULT NULL,
  `high` double DEFAULT NULL,
  `low` double DEFAULT NULL,
  `clos` double DEFAULT NULL,
  `trade_volume` double DEFAULT NULL,
  `bid_size_eod` int DEFAULT NULL,
  `bid_eod` double DEFAULT NULL,
  `ask_size_eod` int DEFAULT NULL,
  `ask_eod` double DEFAULT NULL,
  `vwap` double DEFAULT NULL,
  `open_interest` int DEFAULT NULL,
  `delivery_code` text,
  PRIMARY KEY (`ID`,`OptionExpiryID`,`StrikeID`),
  KEY `OptionExpiryID` (`OptionExpiryID`),
  KEY `StrikeID` (`StrikeID`),
  CONSTRAINT `EoD_StrikeID` FOREIGN KEY (`StrikeID`) REFERENCES `strike` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57478354 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `icecredit`
--

DROP TABLE IF EXISTS `icecredit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `icecredit` (
  `ReportDate` date NOT NULL,
  `Source` varchar(20) NOT NULL DEFAULT '',
  `Instrument` varchar(30) NOT NULL DEFAULT '',
  `EOD_Spread` decimal(15,5) DEFAULT NULL,
  `EOD_Price` decimal(15,5) DEFAULT NULL,
  PRIMARY KEY (`ReportDate`,`Source`,`Instrument`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `optionexpiry`
--

DROP TABLE IF EXISTS `optionexpiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `optionexpiry` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `quote_date` datetime NOT NULL,
  `root` varchar(255) NOT NULL,
  `expiration` datetime NOT NULL,
  `rootOriginal` varchar(255) NOT NULL,
  `calendarTTE` double DEFAULT NULL,
  PRIMARY KEY (`ID`,`quote_date`,`root`,`expiration`),
  KEY `ix_optionexpiry_quote_date_id` (`quote_date`,`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=226209 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `optiongreeks`
--

DROP TABLE IF EXISTS `optiongreeks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `optiongreeks` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `OptionExpiryID` int NOT NULL,
  `StrikeID` int NOT NULL,
  `bid_size_1545` int DEFAULT NULL,
  `bid_1545` double DEFAULT NULL,
  `ask_size_1545` int DEFAULT NULL,
  `ask_1545` double DEFAULT NULL,
  `implied_volatility_1545` double DEFAULT NULL,
  `delta_1545` double DEFAULT NULL,
  `gamma_1545` double DEFAULT NULL,
  `theta_1545` double DEFAULT NULL,
  `vega_1545` double DEFAULT NULL,
  `rho_1545` double DEFAULT NULL,
  PRIMARY KEY (`ID`,`OptionExpiryID`,`StrikeID`),
  KEY `OptionExpiryID` (`OptionExpiryID`),
  KEY `StrikeID` (`StrikeID`),
  CONSTRAINT `OG_StrikeID` FOREIGN KEY (`StrikeID`) REFERENCES `strike` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38616814 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `spxdaily`
--

DROP TABLE IF EXISTS `spxdaily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spxdaily` (
  `TradeDate` date NOT NULL,
  `OpenPrice` decimal(18,6) DEFAULT NULL,
  `HighPrice` decimal(18,6) DEFAULT NULL,
  `LowPrice` decimal(18,6) DEFAULT NULL,
  `ClosePrice` decimal(18,6) DEFAULT NULL,
  `Volume` bigint DEFAULT NULL,
  PRIMARY KEY (`TradeDate`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `strike`
--

DROP TABLE IF EXISTS `strike`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `strike` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `strike` double NOT NULL,
  `option_type` varchar(3) NOT NULL,
  PRIMARY KEY (`ID`,`strike`,`option_type`)
) ENGINE=InnoDB AUTO_INCREMENT=4897 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `underlying`
--

DROP TABLE IF EXISTS `underlying`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `underlying` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `OptionExpiryID` int NOT NULL,
  `underlying_bid_1545` double DEFAULT NULL,
  `underlying_ask_1545` double DEFAULT NULL,
  `implied_underlying_price_1545` double DEFAULT NULL,
  `active_underlying_price_1545` double DEFAULT NULL,
  `underlying_bid_eod` double DEFAULT NULL,
  `underlying_ask_eod` double DEFAULT NULL,
  PRIMARY KEY (`ID`,`OptionExpiryID`),
  KEY `OptionExpiryID` (`OptionExpiryID`)
) ENGINE=InnoDB AUTO_INCREMENT=226216 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ustreasuryyields`
--

DROP TABLE IF EXISTS `ustreasuryyields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ustreasuryyields` (
  `quote_date` date NOT NULL,
  `1M` double DEFAULT NULL,
  `2M` double DEFAULT NULL,
  `3M` double DEFAULT NULL,
  `6M` double DEFAULT NULL,
  `1Y` double DEFAULT NULL,
  `2Y` double DEFAULT NULL,
  `3Y` double DEFAULT NULL,
  `5Y` double DEFAULT NULL,
  `7Y` double DEFAULT NULL,
  `10Y` double DEFAULT NULL,
  `20Y` double DEFAULT NULL,
  `30Y` double DEFAULT NULL,
  PRIMARY KEY (`quote_date`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vix`
--

DROP TABLE IF EXISTS `vix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vix` (
  `TradeDate` date NOT NULL,
  `Opn` decimal(15,5) DEFAULT NULL,
  `High` decimal(15,5) DEFAULT NULL,
  `Low` decimal(15,5) DEFAULT NULL,
  `Clos` decimal(15,5) DEFAULT NULL,
  PRIMARY KEY (`TradeDate`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vixcalculated`
--

DROP TABLE IF EXISTS `vixcalculated`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vixcalculated` (
  `quote_date` datetime NOT NULL,
  `OptionExpiryId` int NOT NULL,
  `VixOptionExpiryId` int DEFAULT NULL,
  `FuturesContract` varchar(20) NOT NULL DEFAULT 'UNKNOWN',
  `OptionExpiration` datetime NOT NULL,
  `InterestRateUsed` double NOT NULL DEFAULT '-1',
  `VIXCalculated` double NOT NULL DEFAULT '-1',
  PRIMARY KEY (`quote_date`,`OptionExpiryId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vixfutures`
--

DROP TABLE IF EXISTS `vixfutures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vixfutures` (
  `TradeDate` date NOT NULL,
  `Contract` varchar(20) NOT NULL DEFAULT '',
  `Opn` decimal(15,5) DEFAULT NULL,
  `High` decimal(15,5) DEFAULT NULL,
  `Low` decimal(15,5) DEFAULT NULL,
  `Clos` decimal(15,5) DEFAULT NULL,
  `Settle` decimal(15,5) DEFAULT NULL,
  `Chnge` decimal(15,5) DEFAULT NULL,
  `Volume` int DEFAULT NULL,
  `EFP` int DEFAULT NULL,
  `OI` int DEFAULT NULL,
  `BDToExpiry` int DEFAULT NULL,
  `CDToExpiry` int DEFAULT NULL,
  PRIMARY KEY (`TradeDate`,`Contract`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vixfuturesexpiry`
--

DROP TABLE IF EXISTS `vixfuturesexpiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vixfuturesexpiry` (
  `Contract` varchar(20) DEFAULT NULL,
  `ExpiryDate` date NOT NULL,
  `ImpliedRate` double NOT NULL DEFAULT '-1'
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-29 19:47:25
